@media (max-width: 991px){
.layout-topbar .layout-topbar-menu .layout-topbar-button {
    margin-left: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 1rem;
}}

@media (max-width: 768px){
    .layout-topbar .layout-topbar-menu .layout-topbar-button {
       font-size: 1rem;
    }}

@media (max-width: 2560px){
.span1 {
    display: none;
}}

@media (max-width: 768px){
    .span1 {
        display: block;
        margin-top: 7px;
        color:grey;
        
    }}
    .pi-user:before {
        content: "\e939";
        font-size: 18px;
    }
    .p-button:focus{
        box-shadow: none;
    }

/* dashboard */
.grid{
    justify-content: center;
}